<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Note</title>
</head>
<body>
<h1>Edit Note</h1>
<form method="post" th:action="@{/note/edit}">
  <input type="hidden" th:name="id" th:value="${note.id}"/>
  <div>
    <label>Title: </label>
    <input type="text" th:name="title" th:value="${note.title}"/>
  </div>
  <div>
    <label>Content: </label>
    <textarea th:name="content" th:field="${note.content}"></textarea>
  </div>
  <button type="submit">Save</button>
</form>
</body>
</html>
